@using Website.Models;

@model List<WeatherForecastVM>;

@{
    ViewData["Title"] = "Clima";
}

<div class="text-center">
    <h1 class="display-4">Clima</h1>
</div>

<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Temp. °C</th>
                <th>Temp °F</th>
                <th>Resúmen</th>
            <tr>
        </thead>
        <tbody>
            @foreach (var clima in Model)
            {
                <tr>
                    <td>@(clima.Date.ToShortDateString())</td>
                    <td>@(clima.TemperatureC)</td>
                    <td>@(clima.TemperatureF)</td>
                    <td>@(clima.Summary)</td>
                </tr>
            }
        </tbody>
    </table>
</div>


